<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <title>洁众科技</title>
    <meta name="description" content="APP限量共享，立即兑换" />
    <script>
      (window.__setFontSize__ = function () {
        document.documentElement.style.fontSize = Math.min(448, Math.max(document.documentElement.clientWidth,
          320)) / 320 * 14 + 'px'
      })()
    </script>
</head>
<body>
<div id="app">
    <!--html begin-->
    <!--you can write img like this, and the html-withimg-loader will replace it`s src attribute with ./images/[hash].jpg-->
    <!--<img src="./images/bg.jpg" alt="" />-->
</div>
</body>
</html>
